<h2>{{title}}</h2>
<div>
  <a href="/" class="badge rounded-pill bg-primary text-decoration-none">home</a>
  <a href="/about" class="badge rounded-pill bg-success text-decoration-none">about</a>
  <a href="/help" class="badge rounded-pill bg-warning text-decoration-none">help</a>
</div>